<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:javascript>

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>订单详情</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}"/>
    <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/bootstrap-paginator.js" th:src="@{/js/bootstrap-paginator.js}"></script>
    <script src="../static/js/bootstrap-mypaginator.js" th:src="@{/js/bootstrap-mypaginator.js}"></script>
    <script src="../static/js/template-web.js" th:src="@{/js/template-web.js}"></script>
</head>

<body>
<div th:replace="~{themplate::navbar(activeUri='orderDetail')}"></div>
<!-- content start -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-header" style="margin-bottom: 0px;">
                    <h3>我的订单</h3>
                </div>
            </div>
        </div>
        <div class="row head-msg">
            <div class="col-md-12">
                用户:<b><span>user</span></b>
            </div>
            <div class="col-md-12">
                订单: <b><span>123456</span></b>
            </div>
        </div>
        <table class="table table-hover table-striped table-bordered">
            <tr>
                <th>序号</th>
                <th>商品名称</th>
                <th>商品图片</th>
                <th>商品数量</th>
                <th>商品总价</th>
            </tr>
            <tr>
                <td>1</td>
                <td>aaa</td>
                <td> <img src="../static/images/hotaddress1.jpeg" alt="" width="60" height="60"></td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>aaa</td>
                <td> <img src="../static/images/hotaddress1.jpeg" alt="" width="60" height="60"></td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr>
                <td>1</td>
                <td>aaa</td>
                <td> <img src="../static/images/hotaddress1.jpeg" alt="" width="60" height="60"></td>
                <td>2</td>
                <td>20</td>
            </tr>
            <tr>
                <td colspan="5" class="foot-msg">
                    共<b><span>10</span></b>条&nbsp; &nbsp; 总计
                    <b><span>1000</span></b>元
                </td>
            </tr>
        </table>
    </div>
    <!-- content end-->
    <!-- footers start -->
    <div class="footers">
        版权所有：南京网博
    </div>
    <!-- footers end -->
    <!-- 修改密码模态框 -->
    <div th:replace="~{themplate::modifyPasswordModal}"></div>
    <!-- 登录模态框 -->

    <div th:replace="~{themplate::loginModal}"></div>
    <!-- 注册模态框 -->

    <div th:replace="~{themplate::registModal}"></div>
</body>

</html>