<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>backend</title>
    <link rel="stylesheet"  href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet"  href="../static/css/index.css" th:href="@{/css/index.css}"/>
    <link rel="stylesheet"  href="../static/css/file.css" th:href="@{/css/file.css}" />
    <script src="../static/js/jquery.js" th:src="@{/js/jquery.js}"></script>
    <script src="../static/js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script src="../static/js/userSetting.js" th:src="@{/js/userSetting.js}" ></script>
    <script src="../static/js/bootstrap-paginator.js" th:src="@{/js/bootstrap-paginator.js}"></script>
    <script src="../static/js/bootstrap-mypaginator.js" th:src="@{/js/bootstrap-mypaginator.js}"></script>
    <script src="../static/js/template-web.js" th:src="@{/js/template-web.js}"></script>
    <script>
        $(function(){
            //上传图像预览
            $('#product-image').on('change',function() {
                $('#img').attr('src', window.URL.createObjectURL(this.files[0]));
            });        
            $('#pro-image').on('change',function() {
                $('#img2').attr('src', window.URL.createObjectURL(this.files[0]));
            });   
        });

    </script>

    <script type="text/javascript">
        $(() => {
            $.ajax({
                type:"post",
                url:"/productType/test",
                dataType:'json',
                success:(data)=>{
                    console.log(data);
                    for(let i=0;i<data.length;i++){
                        $("#product-type").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
                        $("#pro-type").append("<option value='" + data[i].id + "'>" + data[i].name + "</option>");
                    }
                },
                error:()=>{
                    alert("错误");
                }

            });



            ajaxLoadData({
                'pageNo': 1
            });

        });

        myoptions.onPageClicked = function(event, originalEvent, type, page){
            ajaxLoadData({
                'pageNo': page,
            });
        };


        function ajaxLoadData(params){
            $.ajax({
                "type": "post",
                "dataType": "json",
                "url" : "/product/findAllByAjax",
                "data" : params,
                "success" : function(data){
                    let list = data.list;//当前页的数据数组
                    console.log(list);
                    $("#userList").html("");
                    let d = {
                        "userList": list  //json
                    };
                    let txt = template("userListTemplate", d);

                    $("#userList").html(txt);

                    let totalPages = data.pages;//新数据的总页数
                    if(totalPages == 0){
                        totalPages = 1;
                    }
                    $(".doProModify").on("click", function() {
                        $(".modal-title").html("用户修改");
                        $("#myProduct").modal("show");
                    });
                    $(".updateOne").on("click", function() {
                        $("#myProduct").modal("hide");
                    });
/*
                    $("#pageNo").val(params.pageNo);
*/
                    myPaginatorFun("myPages", params.pageNo, totalPages);
                },

                "error" : function(){
                    alert("此条件,没有用户存在！！");
                }
            });
        }
        function showProduct(id) {
            $.get(
                "/product/find/"+id,
                function (data) {
                    console.log(data);
                    $("#pro-num").val(data.id);
                    $("#pro-name").val(data.name);
                    $("#pro-price").val(data.price);
                    $("#img2").attr("src", data.image);
                    $("#pro-type").find("option[value='"+data.productTypeId+"']").attr("selected",true);
                }
            );

        }
    </script>
</head>

<body>
    <div class="panel panel-default" id="userPic">
        <div class="panel-heading">
            <h3 class="panel-title">商品管理</h3>
        </div>
        <div class="panel-body">
            <div>
                <input class="btn btn-primary" type="button" value="添加商品"  id="doAddPro">
                <a class="btn btn-info" style="display:inline-block;float:right;" onclick="$('#fileImport').click();">导入商品信息</a>
                <a class="btn btn-info" style="display:inline-block;float:right;margin-right: 10px;">导出商品信息</a>
                <input type="file" id="fileImport" style="display:none">
            </div>
            <br>
            <div class="show-list">
                <table class="table table-bordered table-hover" style='text-align: center;'>
                    <thead>
                        <tr class="text-danger">
                            <th class="text-center">编号</th>
                            <th class="text-center">商品</th>
                            <th class="text-center">价格</th>
                            <th class="text-center">产品类型</th>
                            <th class="text-center">状态</th>
                            <th class="text-center">操作</th>
                        </tr>
                    </thead>
                    <tbody id="userList">
                        <tr>
                            <td>1</td>
                            <td>平板</td>
                            <td>2999</td>
                            <td>电子产品</td>
                            <td>有效商品</td>
                            <td class="text-center">
                                <input type="button" class="btn btn-warning btn-sm doProModify" value="修改">
                                <input type="button" class="btn btn-warning btn-sm doProDelete" value="删除">
                            </td>
                        </tr>
                    </tbody>

                    <script id="userListTemplate" type="text/html">
                        {{each userList as item}}
                        <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.name}}</td>
                            <td>{{item.price}}</td>
                            <td>{{item.productType.name}}</td>
                            <td>
                                {{if item.productType.status==0}}
                                    有效商品
                                {{else}}
                                    无效商品
                                {{/if}}
                            </td>
                            <td class="text-center">
                                <input type="button" onclick="showProduct('{{item.id}}')" class="btn btn-warning btn-sm doProModify" value="修改">
                                <input type="button" class="btn btn-warning btn-sm doProDelete" value="删除">
                            </td >

                        </tr>
                        {{/each}}
                    </script>

                </table>
                <!-- 分页 -->
                <div style="text-align: center;">
                    <ul id="myPages"></ul>
                    <input id="currentPageInput" type="hidden" value="" />
                </div>

            </div>
        </div>
    </div>

    <!-- 添加商品 start -->     
    <div class="modal fade" tabindex="-1" id="Product">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="/product/addOrModifyProduct" th:action="@{/product/addOrModifyProduct}" method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">添加商品</h4>
                </div>
                <div class="modal-body text-center row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="product-name" class="col-sm-4 control-label">商品名称：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="name" id="product-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-price" class="col-sm-4 control-label">商品价格：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" name="price" id="product-price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="product-image" class="col-sm-4 control-label">商品图片：</label>
                            <div class="col-sm-8">
                                <a href="javascript:;" class="file">选择文件
                                    <input type="file" name="file" id="product-image">
                                </a>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="product-type" class="col-sm-4 control-label">商品类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="product-type"  name="productTypeId">
                                    <option value="-1">请选择</option>

                                </select>
                            </div>
                        </div>
                    </div>  
                    <div class="col-sm-4">
                        <!-- 显示图像预览 -->
                        <img style="width: 160px;height: 180px;" id="img">
                    </div>  
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">添加</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    <!-- 添加商品 end -->  
    
    <!-- 修改商品 start -->  
    <div class="modal fade" tabindex="-1" id="myProduct">
        <!-- 窗口声明 -->
        <div class="modal-dialog modal-lg">
            <!-- 内容声明 -->
            <form action="" class="form-horizontal">
            <div class="modal-content">
                <!-- 头部、主体、脚注 -->
                <div class="modal-header">
                    <button class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">修改商品</h4>
                </div>
                <div class="modal-body text-center row">
                    <div class="col-sm-8">
                        <div class="form-group">
                            <label for="pro-num" class="col-sm-4 control-label">商品编号：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pro-num" readonly>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-name" class="col-sm-4 control-label">商品名称：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pro-name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-price" class="col-sm-4 control-label">商品价格：</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pro-price">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-image" class="col-sm-4 control-label">商品图片：</label>
                            <div class="col-sm-8">
                                <a class="file">
                                    选择文件 <input type="file" name="file" id="pro-image">
                                </a>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="pro-type" class="col-sm-4 control-label">商品类型：</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="productTypeId" id="pro-type">
                                   <!-- <option th:selected="${product!=null}?${type.id==product.productType.id}"
                                            th:each="type:${productTypes}"  th:text="${type.name}" th:value="${type.id}">1</option>-->


                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <!-- 显示图像预览 -->
                        <img style="width: 160px;height: 180px;" id="img2">

                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary updatePro">修改</button>
                    <button class="btn btn-primary cancel" data-dismiss="modal">取消</button>
                </div>
            </div>
            </form>
        </div>
    <!-- 修改商品 end -->
    </div>
</body>

</html>